:root {
    --title-color: #fff;
    --nav-color: #c7c7c7;
    --background-color: #8e32c6;
    --placeholder-color: #959595;
    --footer-background-color: #021635;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 16px;
    padding-bottom: 14px;
    background-color: var(--footer-background-color);
}

.header-logo {
    width: 100px;
    height: 60px;
}

.nav-list {
    display: flex;
    gap: 29px;
    align-items: center;
}

.nav-link {
    color: var(--nav-color);
    font-weight: 400;
    font-size: 24px;
}

.header-list {
    display: flex;
    gap: 10px;
    color: var(--nav-color);
    font-weight: 300;
    font-size: 24px;
}

.introduce {
    padding-top: 94px;
    padding-bottom: 183px;
    background-image: url(../img/description-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.introduce-logo {
    width: 160px;
    height: 120px;
    fill: var(--title-color);
}

.introduce-word {
    font-weight: 400;
    font-size: 48px;
    font-family: "PT Serif", sans-serif;
    color: var(--title-color);
    display: block;
    margin-top: -30px;
    margin-left: 15px;
}

.introduce-title {
    font-weight: 400;
    font-size: 144px;
    color: #fff;
    font-family: "Playfair Display", sans-serif;
}

.introduce-subtitle {
    font-weight: 400;
    font-size: 72px;
    color: var(--title-color);
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 12px;
}

.introduce-text {
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 41px;
    color: var(--title-color);
}

.introduce-btn {
    font-weight: 400;
    font-size: 24px;
    background-color: var(--background-color);
    color: var(--title-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 10px;
    border: 2px solid var(--background-color);
    cursor: pointer;
}

.introduce-btn:hover,
.introduce-btn:focus {
    background-color: transparent;
}

.benefice {
    padding-top: 105px;
    padding-bottom: 105px;
    background-image: url(../img/background-two.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.benefice-list {
    border: 5px solid var(--background-color);
    width: 1110px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}

.benefice-item {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    color: var(--title-color);
}