:root {
    --title-color: #fff;
    --nav-color: #c7c7c7;
    --background-color: #8e32c6;
    --placeholder-color: #959595;
    --footer-background-color: #021635;
    --time-color: #d8d8d8;
    --border-color: #9b9b9b;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    padding-top: 16px;
    padding-bottom: 14px;
    background-color: var(--footer-background-color);
}

.header-logo {
    width: 100px;
    height: 60px;
}

.nav-list {
    display: flex;
    gap: 29px;
    align-items: center;
}

.nav-link {
    color: var(--nav-color);
    font-weight: 400;
    font-size: 24px;
    transition-property: color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.nav-link:hover,
.nav-link:focus{
color: var(--background-color);
}

.header-list {
    display: flex;
    gap: 10px;
    color: var(--nav-color);
    font-weight: 300;
    font-size: 24px;
}

.introduce {
    padding-top: 94px;
    padding-bottom: 183px;
    background-image: url(../img/description-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.introduce-logo {
    width: 160px;
    height: 120px;
    fill: var(--title-color);
}

.introduce-word {
    font-weight: 400;
    font-size: 48px;
    font-family: "PT Serif", sans-serif;
    color: var(--title-color);
    display: block;
    margin-top: -30px;
    margin-left: 15px;
}

.introduce-title {
    font-weight: 400;
    font-size: 144px;
    color: #fff;
    font-family: "Playfair Display", sans-serif;
}

.introduce-subtitle {
    font-weight: 400;
    font-size: 72px;
    color: var(--title-color);
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 12px;
}

.introduce-text {
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 41px;
    color: var(--title-color);
}

.introduce-btn {
    font-weight: 400;
    font-size: 24px;
    background-color: var(--background-color);
    color: var(--title-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 61px;
    padding-right: 61px;
    border-radius: 10px;
    border: 2px solid var(--background-color);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.introduce-btn:hover,
.introduce-btn:focus {
    background-color: transparent;
}

.benefice {
    padding-top: 105px;
    padding-bottom: 105px;
    background-image: url(../img/background-two.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid var(--title-color);
}

.benefice-list {
    border: 5px solid var(--background-color);
    width: 1110px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
}

.benefice-title {
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    font-family: "Playfair Display", sans-serif;
    color: var(--title-color);
}

.benefice-item:nth-child(2) {
    border-left: 1px solid var(--title-color);
    border-right: 1px solid var(--title-color);
    padding-left: 95px;
    padding-right: 95px;
    margin-left: 50px;
    margin-right: 50px;
}

.rewiews {
    padding-top: 24px;
    padding-bottom: 111px;
    background-image: url(../img/plants.png), url(../img/background-three.png);
    background-size: 240px, cover;
    background-repeat: no-repeat;
    background-position: left bottom, center;
    border-bottom: 2px solid var(--title-color);
}

.rewiews-title {
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: var(--title-color);
    font-family: "Playfair Display", sans-serif;
    margin-bottom: 24px;
}

.rewiews-list {
    display: flex;
    justify-content: center;
    gap: 93px;
}

.rewiews-item {
    border-radius: 15px;
    box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
    background: linear-gradient(135deg, #00e5e6 7.29%, #00a8f7 26.04%, #9a76f9 62.5%, #cc5ec2 100%);
    padding: 49px 14px 29px 13px;
    width: 230px;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.rewiews-item:nth-child(2) {
    box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
    background: linear-gradient(135deg, #ff68b4 0%, #ff45e1 26.04%, #ce3aff 62.84%, #8961ff 100%);
}

.rewiews-item:nth-child(3) {
    box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
    background: linear-gradient(135deg, #5bff28 0%, #ff9b5c 30.21%, #ff8381 63.29%, #ff5489 100%);
}
.rewiews-item:hover{
    transform: scale(1.1); 
}

.rewiews-text {
    font-weight: 400;
    font-size: 24px;
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    margin-bottom: 8px;
}

.rewiews-word {
    font-weight: 400;
    font-size: 14px;
    color: var(--time-color);
}

.rewiews-wrap {
    margin-top: 47px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.rewiews-img {
    width: 31px;
    height: 31px;
}

.rewiews-name {
    font-weight: 400;
    font-size: 14px;
    color: var(--title-color);
    font-family: "Roboto", sans-serif;
    margin-bottom: 1px;
}

.rewiews-box-text {
    font-weight: 400;
    font-size: 12px;
    color: var(--time-color);
}

.order {
    padding-top: 21px;
    padding-bottom: 37px;
    background-image: url(../img/background-four.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.order-title {
    font-weight: 400;
    font-size: 48px;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 33px;
}

.order-form {
    display: flex;
    flex-direction: column;

}

.form-input-big {
    border: none;
    border-radius: 50px;
    width: 690px;
    height: 60px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 28px;
    padding-left: 25px;
    color: var(--placeholder-color);
    margin-bottom: 19px;
}

.form-input {
    border-radius: 50px;
    width: 580px;
    height: 50px;
    border: none;
    border-radius: 50px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-left: 25px;
    font-weight: 400;
    font-size: 24px;
    color: var(--placeholder-color);
}

.order-btn {
    width: 248px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    border-radius: 16px;
    border: none;
    background-color: var(--background-color);
    color: var(--title-color);
    font-weight: 400;
    font-size: 24px;
    transition-property: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
    background-color: var(--title-color);
    color: var(--background-color);
}

.modal {
    padding: 10px;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    background: linear-gradient(135deg, #cc5ec2 7.29%, #9a76f9 26.04%, #00a8f7 62.5%, #00e5e6 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-word {
    font-size: 34px;
    font-weight: 700;
    color: var(--title-color);
    display: block;
    margin-bottom: 40px;
}

.modal-text {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--title-color);
    margin-bottom: 20px;
}

.modal-btn {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--title-color);
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    color: var(--title-color);
    font-size: 14px;
    background-color: transparent;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.footer {
    padding-top: 24px;
    padding-bottom: 50px;
    background-color: var(--footer-background-color);
    font-family: "Roboto", sans-serif;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    color: var(--title-color);
    border-bottom: 1px solid var(--placeholder-color);
    padding-bottom: 20px;
}

.footer-text {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 10px;
}

.footer-link {
    font-weight: 400;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--title-color);
    display: block;
    margin-bottom: 10px;
}
.footer-wrap-second{
    padding-top: 24px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.footer-wrap-text{
    font-weight: 400;
    font-size: 18px;
    color: var(--title-color);
}
.footer-word{
    font-weight: 400;
    font-size: 24px;
    font-family:  "PT Serif", sans-serif;
    color: var(--title-color);
}