.introduce {
    padding-top: 94px;
    padding-bottom: 183px;
    background-image: url(../img/description-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__logo {
        width: 160px;
        height: 120px;
        fill: $title-color;
    }

    &__word {
        font-weight: 400;
        font-size: 48px;
        font-family: "PT Serif", sans-serif;
        color: $title-color;
        display: block;
        margin-top: -30px;
        margin-left: 15px;
    }

    &__title {
        font-weight: 400;
        font-size: 144px;
        color: #fff;
        font-family: "Playfair Display", sans-serif;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 72px;
        color: $title-color;
        font-family: "Playfair Display", sans-serif;
        margin-bottom: 12px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        margin-bottom: 41px;
        color: $title-color;
    }

    &__btn {
        font-weight: 400;
        font-size: 24px;
        background-color: $background-color;
        color: $title-color;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 61px;
        padding-right: 61px;
        border-radius: 10px;
        border: 2px solid $background-color;
        cursor: pointer;
        transition-property: $background-color;
        transition-duration: 500ms;
        transition-timing-function: ease;


        &:hover,
        &:focus {
            background-color: transparent;
            border: 2px solid $background-color;
        }
    }
}