.order {
    padding-top: 21px;
    padding-bottom: 37px;
    background-image: url(../img/background-four.png);
    background-repeat: no-repeat;
    background-size: cover;

    &__title {
        font-weight: 400;
        font-size: 48px;
        font-family: "Playfair Display", sans-serif;
        text-align: center;
        color: $title-color;
        margin-bottom: 33px;
    }
    
    &__form {
        display: flex;
        flex-direction: column;
    
    }
    
    &__form-input-big {
        border: none;
        border-radius: 50px;
        width: 690px;
        height: 60px;
        margin: 0 auto;
        font-weight: 400;
        font-size: 28px;
        padding-left: 25px;
        color: $placeholder-color;
        margin-bottom: 19px;
    }
    
    &__form-input {
        border-radius: 50px;
        width: 580px;
        height: 50px;
        border: none;
        border-radius: 50px;
        margin: 0 auto;
        margin-bottom: 19px;
        padding-left: 25px;
        font-weight: 400;
        font-size: 24px;
        color: $placeholder-color;
    }
    
    &__btn {
        width: 248px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        border-radius: 16px;
        border: none;
        background-color: $background-color;
        color: $title-color;
        font-weight: 400;
        font-size: 24px;
        transition-property: background-color;
        transition-duration: 500ms;
        transition-timing-function: ease;
        cursor: pointer;
    
        &:hover,
        &:focus {
            background-color: $title-color;
            color: $background-color;
        }
    }
}

